
.idea/1.0.0.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
venv/
geckodriver
geckodriver.log
terminal_log
tests/__init__.py
tests/wdclient.py
client.py
.idea/vcs.xml
geckodriver-v0.20.1-win32.zip
geckodriver-v0.20.1-win64.zip
venv/Lib/site-packages/easy-install.pth
geckodriver.exe
